<!DOCTYPE html>
<html>
<head>
    <title>Тоглоомын ертөнц</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🎮 Миний жижиг тоглоомууд</h1>
    <ul>
        <li><a href="/game1">1. Санасан тоог таах</a></li>
        <li><a href="/game2">2. Хайч, Чулуу, Даавуу</a></li>
        <li><a href="/game3">3. Зураг таах</a></li>
        <li><a href="/game4">4. Фибоначчигийн таавар</a></li>
        <li><a href="/game5">5. Төөрдөг байшин</a></li>
    </ul>
</body>
</html>
